.scrollable{
    height: calc(100vh - 180px);
    overflow-y: auto;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
    }

    ::-webkit-scrollbar-track {
    background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
    background-color: #d6dee140;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbfc6;
    }